@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --small-font-size: 80%;
    --large-font-size: 120%;
    --background-color: #1B1B1B;
    --background-color-light1: #3E3E3E;
    --background-color-light2: #7C7C7C;
    --minor-color: #FF3B3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Poppins;
    text-decoration: none;
}

button {
    font-size: unset;
}

/* Le pseudo élément s'insère entre les éléments de la flexbox et permet de les séparer en 2 à gauche et à droite. */
.flex-split:after {
    content: "";
    flex-grow: 1;
    order: 0;
}

.label-round {
    padding: 2vh 2vw;
    border-radius: 100px;
    border: 1px solid var(--background-color-light1);
    font-weight: bold;
    margin: 0 2vw;
}

.button-round {
    padding: 2vh 2vw;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.button-hover-animation:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    transition: transform 100ms;
    border-radius: inherit;
}

.button-hover-animation:hover:after {
    transform: translate(-50%, -50%) scale(1);
}

body {
    background: var(--background-color);
}

.header {
    display: flex;
    align-items: center;
    padding: 50px;
    padding-bottom: 20px;
}

.header > * {
    margin: auto 1vw;
}

.header > *:first-child {
    margin-left: 0;
}

.header > *:last-child {
    margin-right: 0;
}

.header__logo {
    height: 10vh;
}

.header__info {
    font-size: var(--small-font-size);
    order: 1; /* Les élements dont order = 1 dans la flexbox sont poussé à l'extrémité droite. */
}

.header__button {
    background: var(--minor-color);
    text-transform: uppercase;
    order: 1;
}

.nav {
    z-index: 2;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-rect {
    position: relative;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--background-color-light1);
    cursor: pointer;
    font-weight: bold;
    width: 230px;
}

.nav__list-item:first-child {
    margin-right: 1vw; /* Espace entre deux boutons */
}

.button-rect:before {
    margin-right: 1vw;
    height: 50%;
}

.nav__list-item:first-child:before {
    content: url(../../img/icon_nav_1.svg);
}

.nav__list-item:last-child:before {
    content: url(../../img/icon_nav_2.svg);
}

.nav__item-menu {
    width: 230px;
    position: absolute;
    top: 100%;
    left: -1px;
    border: 1px solid var(--background-color-light1);
    font-weight: normal;
    display: none;
}

.nav__list-item:hover .nav__item-menu {
    display: block;
}

.menu__item {
    display: block;
    background: var(--background-color-light1);
    padding: 2vh 2vw;
    font-size: var(--small-font-size);
    transition: background 200ms;
}

.menu__item:hover {
    background: #474747;
}

.menu__item-title__icon,
.menu__item-description {
    display: none;
}   

.section {
    padding: 20px 50px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.section__button {
    background: #fff;
    color: #1B1B1B;
}

.footer {
    background: var(--background-color-light1);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer .media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .media__icon {
    border: 1px solid var(--background-color-light2);
    height: 40px;
    padding: 10%;
    border-radius: 50%;
    margin: 1vw;
}

.footer .media__icon:last-child {
    margin-right: 0;
}

.footer__text {
    font-size: var(--small-font-size);
}