@import url(Global.css);
@import url(CardsList.css);


.section__label-container {
    display: flex;
    margin: 5vh 0;
    justify-content: flex-start;
    text-transform: uppercase;
}

.section__label-container .label-round {
    margin: 0 2.5vw;
}

.section__label-container .label-round:first-child {
    margin-left: 0;
}

.label-round.colored {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}

.section__video {
    margin-bottom: 5vh;
    width: 100%;
    height: 100%;
}