{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}
<!-- hero area -->
<section class="section">
	<div class="container">
		<!--
		<div class="row">
			<iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&autoplay=1&feed=%2Flive%2Fweekendrushfm%2F" frameborder="0" allow="autoplay"></iframe>
		</div>
		-->
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<!-- 
					TODO : ajouter un test si image (gif, png, webp...) ou video (mp4, webm, ...) 
				<img class="img-fluid" src="{{ .image | absURL }}" alt="">
				-->
                <div class="video-wrap">
                    <video id="slide-video" preload="auto" loop muted>
                        <source src="{{ .image | absURL }}" type='video/webm' />
                    </video>
                    <div class="video-overlay" style="background-color: rgba(0,0,0,0.2);"></div>
                </div>
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">{{ .title | markdownify }}</h1>
					<p class="mb-4">{{ .content | markdownify }}</p>
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}
{{- end }}
