@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --small-font-size: 70%;
    --large-font-size: 120%;
    --background-color: #1B1B1B;
    --background-color-light1: #3E3E3E;
    --background-color-light2: #7C7C7C;
    --minor-color: #FF3B3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Poppins;
    user-select: none;
}

.label-round {
    border: 1px solid var(--background-color-light1);
    font-weight: bold;
    padding: 2.5% 7.5%;
    border-radius: 100px;
}

body {
    background: var(--background-color);
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 5vw 15vh 5vw; /* 15vh de padding-bottom pour intégrer le nav */
}

.header__logo {
    width: 15vw;
}

.header__info {
    font-size: var(--small-font-size);
    flex: 0.75;
}

.header__button {
    text-transform: uppercase;
    background: var(--minor-color);
    border: none;
    font-weight: bold;
    padding: 2.5% 7.5%;
    border-radius: 100px;
}

.nav {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 10vh;
    font-weight: bold;
    border-top: 1px solid var(--background-color-light1);
    border-bottom: 1px solid var(--background-color-light1);
    position: relative;
    z-index: 2;
}

.nav__list-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--minor-color);
    height: 5px;
    width: 35px;
    z-index: -1;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    border-radius: 4px 4px 0px 0px;
    transition: 200ms clip-path;
}

.nav__list-item:hover:after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} 

.nav__item-menu {
    position: absolute;
    top: calc(100% + 1px);
    width: 100vw;
    height: 0;
    overflow: hidden;
    background: var(--background-color);
    transition: 200ms height;
}

.nav__list-item:first-child .nav__item-menu {
    left: 0;
}

.nav__list-item:last-child .nav__item-menu {
    left: -100%;
}

.nav__list-item:hover .nav__item-menu {
    min-height: 100vh;
    height: auto;
}

.menu__item {
    display: block;
    border-radius: 3px;
    background: #3E3E3E;
    margin: 2.5vh 5vw;
    padding: 2.5vh 5vw;
    text-decoration: none;
    opacity: 0;
}

.nav__list-item:hover .menu__item {
    animation: fadein 500ms forwards;
}

@keyframes fadein {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu__item-title {
    font-size: 120%;
    display: flex;
    align-items: center;
    margin-bottom: 2.5vw;
}

.menu__item-title__icon {
    border: 1px solid #7C7C7C;
    width: 10vw;
    padding: 3%;
    border-radius: 50%;
    margin-right: 2.5vw;
}

.menu__item-description {
    font-weight: normal;
    font-size: 70%;
}

.nav__list-item:first-child {
    border-right: 1px solid #3E3E3E;
}

.section {
    padding: 0 5vw;
    margin-bottom: 5vh;
}

.section__title {
    margin: 5vh 0;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background: #3E3E3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}

.footer .media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .media__icon {
    border: 1px solid #7C7C7C;
    width: 10vw;
    padding: 10%;
    border-radius: 50%;
    margin: 2.5vw;
}

.footer__text {
    margin-top: 5vh;
    font-size: 70%;
}