    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Depuis 2013 - Des lives de toute la scène musicale Tourangelle : DJs sets, Groupes Acoustiques, Enregistrements radio live #drinks #food.">

        <meta name="msapplication-TileImage" content="/img/cropped-citizen-favicon.1024x1024.ico-270x270.png" />
        <link rel="icon"                     href="/img/cropped-citizen-favicon.1024x1024.ico-32x32.png" sizes="32x32" />
        <link rel="icon"                     href="/img/cropped-citizen-favicon.1024x1024.ico-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon"         href="/img/cropped-citizen-favicon.1024x1024.ico-180x180.png" />

        <link rel="stylesheet" href="/css/mobile/homepage.css" media="all and (max-width: 767px)"/>
        <link rel="stylesheet" href="/css/desktop/homepage.css" media="all and (min-width: 768px)"/>
    
        <!-- TODO: ne pas charger tous les templates -->
        <link rel="stylesheet" href="/css/mobile/itemsLists.css" media="all and (max-width: 767px)"/>
        <link rel="stylesheet" href="/css/desktop/itemsLists.css" media="all and (min-width: 768px)"/>
        
        <link rel="stylesheet" href="/css/mobile/itemsDetails.css" media="all and (max-width: 767px)"/>
        <link rel="stylesheet" href="/css/desktop/itemsDetails.css" media="all and (min-width: 768px)"/>

        <link rel="stylesheet" href="/css/mobile/singlePage.css" media="all and (max-width: 767px)"/>
        <link rel="stylesheet" href="/css/desktop/singlePage.css" media="all and (min-width: 768px)"/>
    
        <title>Citizen Bar - {{ $title := print .Site.Title " | " .Title }}</title>
    </head>