    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSP sr.ht plus restrictives dans les headers de reponse HTTP
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
        -->
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/grids-responsive-min.css">

        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/content.css">
        <link rel="stylesheet" href="/css/slideshow.css">

        <link rel="icon"                     href="/img/cropped-citizen-favicon.1024x1024.ico-32x32.png" sizes="32x32" />
        <link rel="icon"                     href="/img/cropped-citizen-favicon.1024x1024.ico-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon"         href="/img/cropped-citizen-favicon.1024x1024.ico-180x180.png" />
        <meta name="msapplication-TileImage" content="/img/cropped-citizen-favicon.1024x1024.ico-270x270.png" />

        <title>Citizen Bar - {{ $title := print .Site.Title " | " .Title }}</title>
        <meta name="description" content="Depuis 2013 - Des lives de toute la scène musicale Tourangelle : DJs sets, Groupes Acoustiques, Enregistrements radio live #drinks #food.">
    </head>
    

