        <header>
            <nav>
                <div class="pure-g header">
                    <div class="pure-u-1-2">Du mardi au dimanche, de 19h00 à 02h00</div>
                    <div class="pure-u-1-2">Suivez-nous</div>
                </div>
                <ul class="pure-g menu">
                    <li class="pure-u-lg-4-24 pure-u-sm-0-0 pure-u-0-0"></li>
                    <li class="pure-u-lg-7-24 pure-u-sm-2-5 pure-u-1-2 dropdown__category">
                        <div class="menu__title"><span>Citizen Bar</span></div>
                        <ul class="dropdown__menu">
                            <li><a href="/carte"><div>Carte</div></a></li>
                            <li><a href="/bar/etablissement"><div>Établissement</div></a></li>
                            <li><a href="/bar/souvenirs"><div>Souvenirs</div></a></li>
                        </ul>
                    </li>
                    <li class="pure-u-lg-2-24 pure-u-sm-1-5 pure-u-0-0 logo__placeholder"></li>
                    <li class="pure-u-lg-7-24 pure-u-sm-2-5 pure-u-1-2 dropdown__category">
                        <div class="menu__title"><span>Citizen Prod</span></div>
                        <ul class="dropdown__menu">
                            <li><a href="/podcasts"><div>Podcasts</div></a></li>
                            <li><a href="/records"><div>Records</div></a></li>
                        </ul>
                    </li>
                    <li class="pure-u-lg-4-24 pure-u-sm-0-0 pure-u-0-0"></li>
                </ul>
                <!-- .logo__citizen is positioned exactly on top of the .logo__placeholder above -->
                <div class="pure-u-lg-2-24 pure-u-sm-1-5 pure-u-0-0 logo__citizen">
                    <a href="/"><img src="/img/blason-citizenbar.png" alt="Blason CitizenBar"></a>
                </div>
            </nav>
        </header>            
