{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>
      {{ range where (where .Site.RegularPages "Section" "events") "Params.watch" "==" nil }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="block">
          <div class="gallery-overlay">
            <a href="{{ .Permalink }}" class="gallery-popup">
              <i class="tf-ion-plus-round"></i>
            </a>
          </div>
          <img class="img-fluid" src="{{.Params.cover|absURL}}" alt="{{.Title}}">
        </div>
        <div class="product-info">
          <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
          <p class="price">

          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}