<!DOCTYPE html>
<html lang="fr">

    {{- partial "head.html" . -}}

    <body  class="dark-vertion black-bg">

        {{- partial "header.html" . -}}

        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}

        <!--
        ==============
        * JS Files *
        ==============
        -->
        
        <!-- jQuery -->
        <script src="assets/plugins/js/jquery.min.js"></script>
        <!-- popper -->
        <script src="assets/plugins/js/popper.min.js"></script>
        <!-- bootstrap -->
        <script src="assets/plugins/js/bootstrap.min.js"></script>
        <!-- owl carousel -->
        <script src="assets/plugins/js/owl.carousel.js"></script>
        <!-- wow -->
        <script src="assets/plugins/js/wow.min.js"></script>
        <!-- mixin js-->
        <script src="assets/plugins/js/jquery.mixitup.min.js"></script>
        <!-- jquery nav -->
        <script src="assets/plugins/js/jquery.nav.js"></script>
        <!-- Fancybox js-->
        <script src="assets/plugins/js/jquery.fancybox.min.js"></script>
        <!-- isotope js-->
        <script src="assets/plugins/js/isotope.pkgd.js"></script>
        <script src="assets/plugins/js/packery-mode.pkgd.js"></script>
        <!-- Custom Scripts-->
        <script src="assets/js/custom-scripts.js"></script>

    </body>

</html>