{{ define "main" }}

    <h1>layout/_default/single</h1>

    <section class="section centered-text">
        <img class="section__img" src="/img/citizen-inside-1920x800-2-1920x860.jpg" alt="Sample" />
        <h2 class="section__title">{{ .Title }}</h2>
        <p class="section__text">
            {{ .Content }}
        </p>
<!-- 
        <button class="section__button button-rect button-hover-animation">
            Voir nos produits
        </button>
 -->
        <div class="section__grid">
            <figure class="grid__img-container">
                <img class="grid__img" src="/img/sample_9.png" alt="Sample" />
            </figure>
            <figure class="grid__img-container">
            </figure>
            <figure class="grid__img-container">
            </figure>
            <figure class="grid__img-container">
            </figure>
            <figure class="grid__img-container">
            </figure>
            <figure class="grid__img-container">
            </figure>
            <figure class="grid__img-container">
            </figure>
            <figure class="grid__img-container">
            </figure>
        </div>
    </section>

{{ end }}