        <div class="citi-bg"></div>
        <!-- Start Loader -->
        <div class="section-loader">
            <div class="loader">
                <div></div>
                <div></div> 
            </div>
        </div>
        <!-- End Loader -->

        <!--
        ===================
        NAVIGATION
        ===================
        -->
        <img src="img/topy.png" class="topy">
        <img src="img/rightblock.png" class="topr">
        <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav wow fadeInUp" id="mh-header">
            <div class="overlay"></div>
            <div class="container">
                    <nav class="navbar navbar-expand-lg">
                    <div class="row">
                    <div class="col-4">
                        <a class="navbar-brand" href="#">
                            <img src="img/logo.png" alt="logo" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-4" align="center">	
                        <div align="center" class="btndiv">
                        <button class="livebtn"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> LIVE</button>
                        </div>
                    </div>
                    <div class="col-4" align="right">	
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle active" href="#" data-bs-toggle="dropdown"> Citizen Bar </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"> Events </a></li>
                                <li><a class="dropdown-item" href="#"> Carte </a></li>
                                <li><a class="dropdown-item" href="#"> Établissement </a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Citizen Records </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"> Tous les genres </a></li>
                                <li><a class="dropdown-item" href="#"> Bass music </a></li>
                                <li><a class="dropdown-item" href="#"> Urban </a></li>
                                <li><a class="dropdown-item" href="#"> Acoustique </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> <!-- navbar-collapse.// -->
                    </nav>
                    
                </div>
                </div>
            </div>
        </header>