{{ define "main" }}
        <!--
        ===================
            HOME 
        ===================
        -->
        <section class="mh-home" id="mh-home">
            <div class="home-ovimg">
                <div class="container">
                    <div class="row xs-column-reverse section-separator vertical-middle-content home-padding">
                        <div class="col-sm-6">
                            <div class="mh-header-info">
                                <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">L'incontournable <br>à Tours</h2>
                                <a href="#" class="btn btn-fill mt-20">Prochains Events</a>
                            </div>
                        </div>
                        <div class="col-sm-6" align="right">
                            <div class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                <div class="">
                                    <img src="img/pic2.jpg" alt=""  class="hright r10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
        
        <div align="center"><a href="#pros"><img class="down" src="img/down.png"></a></div>
        
        <section class="mh-testimonial mh-testi" id="">
            <div class="home-v-img">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" align="center" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Featured</h3><br>
                        </div>
                        <div class="col-md-2 wow fadeInUp"  data-wow-duration="0.8s" data-wow-delay="0.3s"></div>
                        <div class="col-md-8 wow fadeInUp" id="mh-products3" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/slider1.jpg" alt="" width="100%" class="img-fluid">
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/slider2.jpg" alt=""  width="100%" class="img-fluid">
                                </div>
                            </div>                    
                            
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/slider3.jpg" alt="" width="100%" class="img-fluid">
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/slider1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/slider2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>                    
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/slider3.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="mh-testimonial" id="pros">
            <div class="home-v-img">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Prochains Evènements</h3>
                        </div>
                        <div class="col-sm-12 wow fadeInUp" id="mh-products" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">Electro Night</div>
                                        <div class="pdes">Vendredi 27 Août</div>
                                        <div class="ptime">21h - 02h</div>
                                    </div>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">Electro Night</div>
                                        <div class="pdes">Vendredi 27 Août</div>
                                        <div class="ptime">21h - 02h</div>
                                    </div>
                                </div>
                            </div>                    
                            
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">Electro Night</div>
                                        <div class="pdes">Vendredi 27 Août</div>
                                        <div class="ptime">21h - 02h</div>
                                    </div>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">Electro Night</div>
                                        <div class="pdes">Vendredi 27 Août</div>
                                        <div class="ptime">21h - 02h</div>
                                    </div>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">Electro Night</div>
                                        <div class="pdes">Vendredi 27 Août</div>
                                        <div class="ptime">21h - 02h</div>
                                    </div>
                                </div>
                            </div>                    
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">Electro Night</div>
                                        <div class="pdes">Vendredi 27 Août</div>
                                        <div class="ptime">21h - 02h</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="mh-testimonial" id="">
            <div class="home-v-img">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Coctails du moment</h3>
                        </div>
                        <div class="col-sm-12 wow fadeInUp" id="mh-products2" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">TEQUILA</div>
                                        <div class="ptime">50€</div>
                                    </div>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">TEQUILA</div>
                                        <div class="ptime">50€</div>
                                    </div>
                                </div>
                            </div>                    
                            
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">TEQUILA</div>
                                        <div class="ptime">50€</div>
                                    </div>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">TEQUILA</div>
                                        <div class="ptime">50€</div>
                                    </div>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">TEQUILA</div>
                                        <div class="ptime">50€</div>
                                    </div>
                                </div>
                            </div>                    
                            <div class="each-client-item">
                                <div class="mh-client-item">
                                    <img src="img/pic.jpg" alt="" class="img-fluid">
                                    <div class="pinfo">
                                        <div class="pheading">TEQUILA</div>
                                        <div class="ptime">50€</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{ end }}
