@import url(Global.css);
@import url(CardsList.css);

.footer {
    background: var(--background-color-light1);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 5vw;
}

.footer .media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .media__icon {
    border: 1px solid var(--background-color-light2);
    height: 40px;
    padding: 10%;
    border-radius: 50%;
    margin: 1vw;
}

.footer .media__icon:last-child {
    margin-right: 0;
}

.footer__text {
    font-size: var(--small-font-size);
}