@import url(Global.css);
@import url(CardsList.css);

.section__list-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2vw;
}

.card {
    margin: 0;
}

.card__img-container {
    width: auto;
    border-radius: 3px;
    overflow: hidden;
    background-color: aquamarine;
}

card__img-container-section {
    width: auto;
    border-radius: 3px;
    overflow: hidden;
    background-color: black;
    text-align: center;
    vertical-align: middle;
}

.section__header .section__button {
    order: 1;
}

.section__header .section__button:before {
    content: url(../../img/icon_filter.svg);
}

.filter-order-container {
    z-index: 2;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-101%);
    transition: transform 200ms;
    background: #fff;
    padding: 5vh 5vw;
}

.filter-order-container:target {
    transform: translateX(0);
}

.filter-order__button {
    background: #000;
    color: #fff;
    margin: 5vh 0;
}

.filter-order__back {
    width: 1.5vw;
    cursor: pointer;
}

.filter-order-container .group-title {
    font-size: var(--large-font-size);
    font-weight: bold;
    margin: 5vh 0;
}

.input-container {
    margin: 2.5vh 0;
}

.filter-order-container .group-title,
.filter-order-container label {
    color: #000;
}

.radio-container input {
    display: none;
}

.radio-container label {
    position: relative;
    padding-left: 30px;
}

.radio-container label:before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px black;
    border: 6px solid #fff;
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
    box-sizing: border-box;
    transform: translateY(-50%);
  }
  
  .radio-container input:checked + label:before {
    border: 3px solid #fff;
  }