@import url(Global.css);

.centered-text {
    text-align: center;
}

.section__title {
    margin: 10vh auto;
}

.section__text {
    margin: 5vh auto;
}

.section__button {
    margin: 10vh auto;
}

.section__img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.section__grid {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vw;
}

.grid__img-container {
    overflow: hidden;
    border-radius: 3px;
    background-image: url(../../img/img_background.svg);
    background-position: center;
    background-size: 25%;
    background-color: #272727;
    background-repeat: no-repeat;
    height: 20vw;
}

.grid__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}