{{ define "main" }}

<h1>{{ .Title }}</h1>

<!-- "{{ .Content }}" pulls from the markdown content of the corresponding _index.md -->
{{ .Content }}

<!-- Ranges through content/posts/*.md -->
<ul class="pure-g">
    {{ range (.Data.Pages.ByParam "order") }}    
    <li class="pure-u-1-5 watchlist">
        {{ if eq .Params.categorie "Section" }}
            Section {{.Title }}
        {{ else }}
            <a href="{{ .Permalink }}">
            {{ .Title }} - {{ .Params.prix }} €
            </a>
        {{ end }}
    </li>
    {{ end }}
</ul>

{{ end }}