{{ define "main" }}

<h1>{{ .Title }}</h1>

<!-- "{{ .Content }}" pulls from the markdown content of the corresponding _index.md -->
{{ .Content }}

<!-- Ranges through content/posts/*.md -->
<ul class="pure-g">
    {{ range .Pages }}    
    <li class="pure-u-1-5 watchlist">
        <a href="{{ .Permalink }}">
        {{ .Title }} - {{ .Params.prix }} €
        </a>
    </li>
    {{ end }}
</ul>


    {{ with .Site.Params }}
        {{ $greeting = "Hello" }}
    {{ end }} 
{{ $greeting }}

{{ end }}